@import "utils/minireset.scss";

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Shrikhand;
    src: url('/fonts/Shrikhand.ttf');
}
/*************************************************************/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$white-working: rgb(253, 253, 253);
$grey-working: rgb(247, 247, 247);
$boxshadow-color: #d7dadb;
$gradient-main-color: linear-gradient(0deg,#9356dc 0%, #ff79da 80%);
$pages-background-color: rgb(248, 248, 248);


$titles-top-padding: 45px;

$titles-font: 'Shrikhand', Verdana, sans-serif;
$text-font: 'Roboto', Verdana, sans-serif;
$bold-text-font: 'Roboto-Bold', Verdana, sans-serif;

$boxshadow-parameters: 2px 2px 10px 4px $boxshadow-color;

h1, h2, h3, h4, h5, h6 {
    font-family: $bold-text-font; /*transform to $titles-font if needed*/
   
}

p, span, figcaption {
    font-family: $text-font;
}

@mixin vertical-padding($arg){ /*mixin to define top and bottom padding at the same time*/
    padding-top: $arg;
    padding-bottom: $arg; 
}

@mixin horizontal-padding($arg){
    padding-left: $arg;
    padding-right: $arg;
}

@mixin h1_parameters{
    padding-top: $titles-top-padding;
    padding-left: 5%;
    font-size: 25px;
}


@mixin heart_basic_parameters($arg){
    position: absolute;
    right: 12%;
    top: $arg;
    cursor: pointer;
}

@mixin new_card_parameters($arg){
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: $arg;
    right: 12%;
    display: block;
    text-decoration: none;
}


body{
    background-color: rgb(238, 238, 238);
    a{
        text-decoration: none;
        color: black;
    }

}

html, body{
    overflow-x: hidden;
}

header{
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 1000;
    position: relative;

    .arrow{
        position: absolute;
        padding-right: 86%;
        padding-top: 3%;
    }
}

.logo{
    display: flex;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 1000;
    position: relative;
    background-color: #fff;
    justify-content: center;
    @include vertical-padding(16px);

    #logo{
        width: 40%;
        padding-top: 2%;
       
    }
}

.btn{
    width: 45%;
    border: 0;
    z-index: 1;
    border-style: solid;
    border-radius: 100px;
    background-color: rgb(247, 247, 247);
    flex-wrap: nowrap;
    @include vertical-padding(13px);
    @include horizontal-padding(13px);

    box-shadow: $boxshadow-parameters;
}

.header-btn{
    width: 48%;
    margin-top: 5%;
    margin-left: 27%;
    color: #fff;
    
    background: $gradient-main-color;

}

.header{

    &_location{
        display: flex;
        justify-content: center;
        background-color: rgb(236, 236, 236);
        @include vertical-padding(10px);
       // box-shadow: $boxshadow-parameters;

        p{
            padding-left: 1%;
            font-weight: bold;
        }

        #location{
            display: flex;
            position: relative;
            margin-left: -5%;
            padding-right: 3%;
        }

        

        
    }

    &_exploration{
        
        display: flex;
        flex-direction: column;
        background-color: $grey-working;
        text-align: center;
        height: 290px; 
        @include vertical-padding(8%);

        h1{
            font-size: 160%;
            
            @include horizontal-padding(15%);
        }

        &_paragraph{
            padding-top: 3%;
        }
    }
}

.operation{
    background-color: $white-working;
    height: 400px;

    h1{
        @include h1_parameters;
    }

    &_list{
        display: flex;
       width: 205%;
        padding-left: 7%;
        flex-direction: column;
    }

    .button_list{
        @include vertical-padding(20px);
        border-radius:18px;
        margin-top: 4%;
        display: flex;
        
        flex-direction: row;
        padding-bottom: 15px; /*pour jouer sur la taille du bas des boutons section " fonctionnement "*/
       

        

       
        .numerotation{
            @include vertical-padding(1.5%);
            @include horizontal-padding(4%);
            width: 5.5%;
            display: flex;
            position: relative;
            margin-left: -8%;
            margin-right: 25%;
    
            border-radius: 100px;
            color: white;
            background-color: $primary-color;
           
            
            justify-content: center;
        }

        .icons{
            margin-left: -85px;
            

        
            
        }

        &:hover{
            background-color: #9356DC;

            .icons{
                color: $secondary-color;
            }
        }
       
    }

    .button_list:not(:first-child){
        margin-top: 3%;
    }
}

.icon_heart:hover i.fa-heart {
    display: none;
    }
    .icon_heart:hover i.fas.fa-heart {
    display: block;
    }
    .icon_heart {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    @include heart_basic_parameters(166%);
    }
    
   // icon_heart 2 /
    .icon_heart_2:hover i.fa-heart {
    display: none;
    }
    .icon_heart_2:hover i.fas.fa-heart {
    display: block;
    }
    .icon_heart_2 {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    @include heart_basic_parameters(208.9%);
    }

    //fin icone

    // icon_heart 3 /
    .icon_heart_3:hover i.fa-heart {
        display: none;
        }
        .icon_heart_3:hover i.fas.fa-heart {
        display: block;
        }
        .icon_heart_3 {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        @include heart_basic_parameters(252.5%);
        }
    
        //fin icone

        // icon_heart 4 /
    .icon_heart_4:hover i.fa-heart {
        display: none;
        }
        .icon_heart_4:hover i.fas.fa-heart {
        display: block;
        }
        .icon_heart_4 {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        @include heart_basic_parameters(296%);
        }
    
        //fin icone

                // icon_heart 5 /
    .icon_heart_5:hover i.fa-heart {
        display: none;
        }
        .icon_heart_5:hover i.fas.fa-heart {
        display: block;
        }
        .icon_heart_5 {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        @include heart_basic_parameters(28%);
        @include horizontal-padding(-9%);
        }
    
        //fin icone
    
    i.fa-heart:hover {
    cursor: pointer;
    border: 0 solid transparent;
    }
    i.fas.fa-heart {
    display: none;
    background: $gradient-main-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    }



.restaurants{
    background-color: $grey-working;
    height: 100%;
    padding-bottom: 70px;
    h1{
        @include h1_parameters;
    }

        .encarts{
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 8%;
            &_redirection{
                display: flex;
                flex-direction: column;

            }
            figure{
                width: 326px;
                height: 270px;
                border: none;
                border-radius: 20px;
                background-color: white;
                box-shadow: $boxshadow-parameters; 

                img{       
                    width: 100%;
                    height: 190px;
                    border: none;
                    border-radius: 20px 20px 0 0;
                }
                .new_card{
                    @include new_card_parameters(136%);
                }
                .new_card2{
                    @include new_card_parameters(179.2%);
                }
            }
            &_legend{
                width: 100%;
                height: 40px;
                border: none;
                border-radius: 0 0 20px 20px;
                color: black;
                
                margin-top: -6px;
                background-color: white;
                line-height: 24px;
            }

            &_figcaption{
                padding-top: 2%;
                padding-left: 3%;

            }
        }
            .encarts_redirection:not(:first-child){
                margin-top: 25px;
            }
    }


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 55, 55);
    color: white;
    padding-bottom: 35px;
    font-family: $text-font;
    font-size: smaller;

    h3{
        font-family: $titles-font;
        margin-top: 4%;
        margin-left: 5%;
    }

    ul{
        margin-top: 4%;
        margin-left: 5%;
        line-height: 24px;
        .espaced{
            margin-right: 1%;
            &_1{
                margin-right: 2%;
            }
        }

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

/*
PAGE 1
*/

.annex_page{
    background-color: $pages-background-color;
}

.container{

    margin-top: -4rem;
    border-radius: 40px 40px 0 0;
    background-color: $pages-background-color;
    z-index: 1;
    position: relative;
    
    &_title{
        font-family: $titles-font;
        padding-top: 2%;
    }
    &_header{
        padding: 1%;
        border-radius: 40px 40px 0 0;
      background-color: $pages-background-color;
        box-shadow: none;
        z-index: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

    h2{
        display: block;
        font-size: 150%;
        margin-top: 4%;
        margin-bottom: 8%;
        margin-left: 4%;
        font-weight: bold;
    }

    }
}

.menu_list{

    max-width: 100%;
    padding-left: 3%;
    margin-bottom: 10%;

    h4{
        display: block;
       width: 100%;
    font-weight: bold;
    text-overflow: ellipsis;
    }

    p{
       
        width: 100%;
    }


    .menu_titles{
        position: relative;
        text-transform: uppercase;
        padding-bottom: 3%;
        &::after{
            content: "";
            width: 15%;
            height: 15%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $tertiary-color;
            
        }
    }

}

.blocMenu{
   
        background-color: #fff;
        padding: 2%;
        display: flex;
        border-radius: .75rem;
        margin-bottom: 4%;
        margin-top: 3%;
        box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
        overflow: hidden;
        cursor: pointer;
        width: 95%;
        animation: itemAppear .6s;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: both;
       
        max-width: 100%;
       

        &_hovering{
            background-color: $tertiary-color;
            margin: -5% -26.3% -5% 5%;
            padding-right: 8.8%;
            padding-left: 7%;
            width: 5rem;
            display:flex;
            align-items:center;
            justify-content:center;
            transition-duration: 0.5s;
        }

        &_header + &_titles + &_desc{
           
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }

        &_header{
            flex: 1;
            margin-top: 3%;
            padding-left: 2%;
        }

        &_desc{
            margin: 0;
            margin-bottom: 4%;

        }

        &:hover &_hovering{
            margin-right: -1rem;
        }

        &_price{
            justify-content: flex-end;
            align-items: flex-end;
            font-weight: bold;
            display: flex;
            padding-left: 2%;
            margin-bottom: 3%;
     
        }

        &_icon{
            width: 1.6rem;
            height: 1.6rem;
            
            background-color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius: 100px;
            transform: rotate(180deg);
            transition-duration: 0.5s;
            color: $tertiary-color;
        }

        &:hover &_icon{
            transform: rotate(0);
        }
  
}

.commandButton{
    display: flex;
    margin: 10%;
    padding: 10%;
    padding-left: 15%;
    width: 100%;
    .cmdButton{
        width: 60%;
        height: 60%;
        border: 0;
        color: white;
        border-style: solid;
       
        font-size: 110%;
        border-radius: 100px;
        background: $gradient-main-color;
        flex-wrap: nowrap;
        @include vertical-padding(16px);
        @include horizontal-padding(20px);
    }
}
